@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500italic,500,700,700italic,900,900italic')
@import url('estilos.css')

.clear
	clear both
img 
	border none
a 
	text-decoration none
a:hover 
	text-decoration none

azul = #00628b
azul2 = #006289
gris = #7d8687

transTime(x)
	-webkit-transition all x ease-out
	-moz-transition all x ease-out
	-ms-transition all x ease-out
	-o-transition all x ease-out

body
	font-family 'Roboto', sans-serif
	margin 0px
	padding 0px

.wow:first-child
	visibility: hidden

.tac
	text-align center
.tal 
	text-align left
.tar 
	text-align right
.fl 
	float left
.fr 
	float right
	
.fs8
	font-size 8px
.fs10
	font-size 10px
.fs12
	font-size 12px
.fs14
	font-size 14px
.fs16
	font-size 16px
.fs18
	font-size 18px
.fs20
	font-size 20px
.fs22
	font-size 22px
.fs24
	font-size 24px
	.imgAlto
		height 24px
		margin-top -4px
.fs26
	font-size 26px
.fs28
	font-size 28px
.fs30
	font-size 30px
.fs32
	font-size 32px
.fs34
	font-size 34px
.fs36
	font-size 36px
.fs38
	font-size 38px
.fs40
	font-size 40px
.fs45
	font-size 45px
.fs50
	font-size 50px
.fs55
	font-size 55px
.fs60
	font-size 60px

.fcGris
	color #7d8687
	p 
		color #7d8687
		line-height 25px

.ligaAbajo
	color #7d8687 
.ligaAbajo:hover
	text-decoration underline
	color #7d8687 

.fcazul
	color azul
.fcblanco
	color #FFF

.bggrisC
	background #f7f7f7
.bggris
	background gris
.bgazul
	background azul
.bgazul2
	background azul2

#home 
	padding 0px
.galUnid
	background #f7f7f7
	padding-top 20px
	padding-bottom 20px

.pt10
	padding-top 10px
.pt20
	padding-top 20px
.pt30
	padding-top 30px
.pt40
	padding-top 40px
.pt50
	padding-top 50px
.pt60
	padding-top 60px
.pt70
	padding-top 70px
.pt80
	padding-top 80px
.pt90
	padding-top 90px
.pt100
	padding-top 100px
.pb10
	padding-bottom 10px
.pb15
	padding-bottom 15px
.pb20
	padding-bottom 20px
.pb30
	padding-bottom 30px
.pb40
	padding-bottom 40px
.pb50
	padding-bottom 50px
.pb60
	padding-bottom 60px
.pb70
	padding-bottom 70px
.pb80
	padding-bottom 80px
.pb90
	padding-bottom 90px
.pb100
	padding-bottom 100px

.fw1
	font-weight 100
.fw3 
	font-weight 300
.fw4 
	font-weight 400
.fw5 
	font-weight 500
.fw7 
	font-weight 700
.fw9 
	font-weight 900

.subtit
	font-size 22px 
	line-height 24px

.logo
	margin 20px 0px
	
#video
	width 100%

#menDesp1
	position fixed
	width 100%
	height 700px
	z-index 9999999999
	background #FFF
	display none
	overflow hidden
	ul 
		padding 0px 
		margin 0px
		margin-left 25px
		list-style none 
		background #FFF
		li 
			padding 6px
			a 
				display block
				font-size 16px 
				text-align left
				color gris
	.comoTop
		background azul
		color #FFF
		padding 20px
		height 100%
		a 
			color #FFF
			text-decoration underline
#menDespC
	color #000

.arribaM
	top 60px
.abajoM
	bottom 0px

.topHome
	background azul
	color #FFF
	text-align right

.icoCel
	border solid 1px gris
	border-radius 20px
	color gris
	padding 5 10px
	display table
	font-size 14px
	margin 25px
	span
		margin 0px 10px

.icoCel2
	border solid 1px azul
	border-radius 20px
	color azul
	padding 5 10px
	display table
	font-size 14px
	margin 25px 0px
	span
		margin 0px 10px

.ligaTop
	color #FFF
	font-weight 300
	font-size 11px
	margin 10px 0px
	margin-left 50px
	display block
	float right
.ligaTop:hover
	color #FFF
	text-decoration underline

.ligaIdioma
	color #FFF
	font-weight 300
	font-size 11px
	margin 10px 0px
	margin-left 10px
	border-top solid 1px #FFF
	display block
	float right
.ligaIdioma:hover
	color #FFF


#mainMenu
	list-style none
	margin 0px
	padding 0px
	float right 
	li 
		float left
		a 
			display block
			padding 30px 0px
			padding-left 20px
			font-size 14px 
			color gris
		a:hover
			font-weight 600

.letras 
	position absolute
	z-index 99999999
	top 45%
	width 100%
	color #FFF
	font-weight 300
	font-size 34px
	img 
		margin-top 5px
	.cambiante
		display table
		float left
		margin 0px 15px
		text-shadow 0px 0px 10px #000
	.ancho 
		font-weight 400
		display table
		float left
		text-shadow 0px 0px 10px #000
.cotizar 
	z-index 9999999
	background url('../img/gris.png')
	padding 15px 0px
	position absolute
	bottom 0px
	width 100%
/*.cotizar2
	background url('../img/gris.png')
	padding 15px 0px
	width 100%*/



.fijoTop
	z-index 99999999
	background url("../img/gris.png")
	padding 15px 0px
	position fixed
	top 0px
	width 100%

.textTit
	color #FFF
	font-weight 300
	font-size 24px
	padding 10px 0px
	.ico
		margin-right 30px

.btnDownload
	background #FFF
	border-radius 20px
	padding 5px 50px
	border-bottom solid 4px #004e6c
	color #007ca3
	font-size 18px
	font-weight 300
	display table
	margin 0 auto
	margin-top 30px
	margin-bottom 30px

/*.btnCotizar
	background #007ca3
	border-radius 20px
	padding 5px 50px
	border-bottom solid 4px #00628b
	color #FFF
	font-size 18px
	font-weight 300
	display table
	margin 0 auto
	margin-top 5px
	//transTime(500ms)
.btnCotizar:hover
	border-bottom solid 1px #00628b*/


.btnCotizar19
	background #FFF
	width 90%
	display inline-block
	position absolute
	text-align center
	padding 15px 50px
	border-radius 70px
	border solid 1px #ecebeb
	box-shadow 0 8px #ecebeb
	bottom -100px
	.svg
		position relative
		float left
		width 61px
		height 61px
	.tit
		font-size 18px
		color azul
		text-align left
		padding-left 90px
		margin-top 8px
	.sub
		font-size 12px
		color gris
		text-align left
		padding-left 90px
	&:hover
		bottom -104px
		box-shadow 0 4px #ecebeb
		

.btnCotizar19A
	width 90%
	display inline-block
	position absolute
	text-align center
	padding 15px 50px
	border-radius 70px
	bottom -100px
	background #00628b
	border solid 1px #00628b
	box-shadow 0 8px #004765
	.svg
		position relative
		float left
		width 61px
		height 61px
		path
			fill #fff !important
		polygon
			fill #fff !important
		rect
			fill #fff !important
	.tit
		font-size 18px
		color #fff
		text-align left
		padding-left 90px
		margin-top 8px
	.sub
		font-size 12px
		color #fff
		text-align left
		padding-left 90px
	&:hover
		bottom -104px
		box-shadow 0 4px #004765

		
	
.btnCotizar
	background #007ca3
	margin-top 10px
	cursor pointer
	color #FFF
	padding 5px 50px
	display inline-block
	position relative
	-webkit-transition all 0.3s
	-moz-transition all 0.3s
	transition all 0.3s
	border-radius 20px
	box-shadow 0 4px #00628b
	transition none

.btnCotizar:after
	content ''
	position absolute
	z-index -1
	-webkit-transition all 0.3s
	-moz-transition all 0.3s
	transition all 0.3s

.btnCotizar:hover
	box-shadow 0 2px #00628b
	top 2px

.btnCotizar:active
	box-shadow 0 0 #00628b
	top 6px

.tituloAncho
	text-align center
	font-size 26px
	color azul
	font-weight 300
	padding 30px
	img 
		margin-top -3px
	.span1
		margin 0px 10px
	.span2
		font-weight 500
.cuadro20
	position relative
	width 20%
	overflow hidden
	float left
	padding 3px
	padding-top 6px
	
.itemHome
	position relative
	overflow hidden
	img
		width 100%
	.hover
		position absolute
		background url('../img/gris.png')
		top 0px 
		left 0px
		width 100%
		height 100%
		opacity 0
		transTime(.3s)
		.titulo 
			width 100%
			position absolute
			top -10%
			font-weight 300
			text-align center
			color #FFF
			font-size 18px
			transTime(.4s)
		.subtitulo 
			width 100%
			position absolute
			top -10%
			font-weight 300
			text-align center
			color #FFF
			font-size 14px
			transTime(.3s)
		.boton
			color #FFF
			padding 5px 30px 
			border solid 1px #FFF
			margin 0 auto
			margin-top 30% 
			display table
			border-radius 20px
		.boton:hover
			cursor pointer
	.hover:hover
		opacity 1
		.titulo
			top 38%
		.subtitulo
			top 52%

#textAtras
	position absolute
	width 100%
	text-align center
	font-family 'Roboto' 
	font-weight 100
	top 0px
	z-index 4
	color #fff
	margin-top -10px
	font-size 160px
#desc1
	position absolute
	z-index 4
	color #fff
	font-family 'Roboto' 
	font-weight 100
	font-size 20px
	left 50% 
	margin-left 250px
	top 70px
#imgTextSobre
	position absolute
	top 40px
	z-index 6

.icoGal
	float left
	img 
		margin 10px
		margin-top 25px
	a 
		display block
	p 
		color #7e8586
		font-size 14px
		font-weight 100
		margin-bottom 25px



//Modulos
#imgText
	position relative
	.sobreImg 
		position absolute
		width 100%
		top 46%
		text-align center
		font-family 'Roboto' 
		font-size 30px 
		font-weight 300
		color #FFF
		text-shadow 0px 0px 10px #000
		padding 0px 50px
		span
			font-weight 400
#text1
	text-align center
	font-family 'Roboto' 
	color gris
	padding 10%
	font-weight 300
	.titleGral
		font-size 18px 
		font-weight 300
		text-align center
		span
			font-weight 400
	.subtitle1
		font-size 16px 
		line-height 20px
		font-weight 300
		text-align left
		span
			font-weight 400
		ul 
			li 
				text-align left
#text2
	text-align center
	font-family 'Roboto' 
	color gris
	padding 10px
	font-weight 300
	font-size 14px
	.titleGral2
		color #006288
		font-size 18px 
		font-weight 400
		text-align center
		span
			font-weight 400
	.subtitle2
		font-size 16px 
		line-height 20px
		font-weight 300
		text-align left
		span
			font-weight 400
	ul
		li 
			text-align left
#titleGral
	text-align center
	font-family 'Roboto' 
	font-weight 300
	color gris
	font-size 30px 
	padding 30px 0px
	img 
		margin-right 10px
		margin-top -8px
	span
		font-weight 400
		
#subtituloGral
	text-align center
	font-family 'Roboto' 
	color gris
	font-size 16px 
	font-weight 300
	margin -20px 30px 30px 30px
	span
		font-weight 400
		

.footer
	border-top solid 1px gris
	p
		color gris
		font-size 12px
		padding 30px 0px
.divisorAlex
	background #d7d7d7
	width 50px
	position relative
	height 1px
	margin 0 auto

.typed-cursor
	animation movCursos 1s infinite;
	-webkit-animation movCursos 1s infinite;

@keyframes movCursos
	0%   
		opacity 0
	50%
		opacity 1
	100%
		opacity 0
	
#bullet
	text-align center
	color #FFF
	padding 20%
	font-size 16px
	font-weight 300
	.title 
		padding-top 15px
		span 
			font-weight 400
	.text 
		padding 15px
		span 
			font-weight 500
	.titleGris 
		padding-top 15px
		color gris
		span 
			font-weight 500
	.textGris
		padding 15px
		color gris
		span 
			font-weight 500

#modContacto
	#titleGral
		color #fff
		margin-top 100px
		font-weight 300
		span
			font-weight 500
	#subtituloGral
		color #FFF
		width 70%
		margin 0 auto
		font-weight 300
		span
			font-weight 500

#ligasFoot
	margin 0px
	padding 0px
	list-style none
	li 
		color gris
		font-size 14px 
		line-height 24px
		font-weight 300
		a 
			color gris
			font-size 14px 
			line-height 24px
			font-weight 300
		a:hover 
			font-weight 400

#itemList
	width 80%
	margin 0 auto
	margin-bottom 50px
	img 
		float left
		margin-right 20px
	span 
		position absolute
		top 40%
		font-size 18px
		color gris
		font-weight 300
		padding-right 20px

.lineaRecta
	margin-top 25px 
	background gris
	height 1px 
	border none

.g-recaptcha
	margin 5px auto !important
	width auto !important
	height auto !important
	text-align -webkit-center
	text-align -moz-center
	text-align -o-center
	text-align -ms-center
/*	div
		text-align center
		div
			display block
			border solid 1px #f00*/

.btnVerMas
	color #FFF
	background #377ba0
	border-bottom solid 2px #006289
	padding 5px 30px
	border-radius 20px
	margin-top 20px
.btnVerMas:hover
	color #FFF
	
.btnVerMas2019
	color #FFF
	background #377ba0
	border-bottom solid 2px #006289
	padding 10px 30px
	border-radius 20px
	font-size 16px
	float right
.btnVerMas2019:hover
	color #FFF
.disa
	background #CCC

.contCajas
	position relative
	height 300px
	width 100%
.cajaPasos
	position absolute
	top 0px
	width 100%
	background #fff

#paso1
	z-index 6
#paso2
	z-index 5
#paso3
	z-index 4

.caja1 
	width 300px
	border-radius 20px
	border solid 1px #FFF 
	padding 5px 10px
	background none
.caja2
	width 70%
	border-radius 20px
	border solid 1px #7d8687
	padding 5px 10px
	background none
.caja2019
	-moz-appearance none 
	-webkit-appearance none 
	appearance none
	width 100%
	border-radius 20px
	border solid 1px #ecebeb
	padding 10px 20px
	background none
	font-size 14px
.textUbica
	ul 
		li
			text-align left 
			font-size 14px

#paginado
	text-align center
	display table
	margin 0 auto
	margin-top 10px
	div
		margin 12px
		width 12px
		height 12px
		background url('../img/bullet.png') no-repeat
		float left
	div:hover 
		cursor pointer
	.cycle-pager-active
		background url('../img/bullet2.png') no-repeat
		
.ico32
	width 32px
	height 32px
	
/* Customize the label (the container) */
.contL {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 14px;
  color: #878f90;
  font-weight: 300;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.contL input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.contL:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.contL input:checked ~ .checkmark {
  background-color: #377ba0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.contL input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.contL .checkmark:after {
  /*left: 10px;
  top: 6px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);*/
  	width: 25px;
  	height: 25px;
  	background-image: url('../img/check.svg')
}

@media (max-width: 800px)
	.cotizar 
		position relative
	.btnCotizar19
		position relative
		display table
		width 74%
		margin 0 auto
		padding 10px 30px
		margin-bottom 20px
		bottom 0px
		.tit
			margin-top 0px
			padding-left 80px
		.sub
			padding-left 80px
	.btnCotizar19A
		position relative
		display table
		width 74%
		margin 0 auto
		padding 10px 30px
		margin-bottom 20px
		bottom 0px
		.tit
			margin-top 0px
			padding-left 80px
		.sub
			padding-left 80px
	.contCajas
		height 510px
	#video
		width 100%
		height auto