<script type="text/javascript" src="{DIR}js/jquery.min.js"></script>
<script type="text/javascript" src="{DIR}js/jquery.cycle2.js"></script>
<script type="text/javascript" src="{DIR}js/jquery.cycle2.carousel.min.js"></script>
<script type="text/javascript" src="{DIR}js/typed.js"></script>
  <div class="container-fluid">
    <div class="row">
      <div style="position:relative" class="col-md-12">
        <video autoplay="autoplay" loop="loop" id="video">
          <source src="{DIR}img/generalVideo.mp4" type="video/mp4"/>
        </video>
        <div class="clear"></div>
        <div class="cotizar">
          <div class="container pb50">
            <div class="row visible-md visible-lg">
              <div class="col-md-12 tac">
                <div class="textTit">
                  <img src="{DIR}img/camion.png" alt="General camión" class="ico"/>
                  <span>Envía hoy a Centroamérica en menos tiempo.</span>
                </div>
              </div>
            </div>
            <div class="row visible-xs vibible-sm">
              <div class="col-md-2 tac">
                <img src="{DIR}img/camion.png" alt="General camión"/>
              </div>
              <div class="col-md-6">
                <div class="tac">
                  <div class="textTit">Envía hoy a Centroamérica en menos tiempo.</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-md-offset-3 p10">
                <a href="{DIR}general_es/contacto-transporte-de-carga-centroamerica.html">
                  <div class="btnCotizar19A"> 
                    <div class="ico"> 
                      <img src="{DIR}img/icoCotiza.svg" class="svg"/>
                    </div>
                    <div class="tit">Cotiza</div>
                    <div class="sub">Con gusto te atenderemos.</div>
                  </div>
                </a>
              </div>
              <!-- <div class="col-md-4 p10">
                <a href="{DIR}general_es/contacto.html">
                  <div class="btnCotizar19"> 
                    <div class="ico"> 
                      <img src="{DIR}img/icoContacto.svg" class="svg"/>
                    </div>
                    <div class="tit">Contáctanos</div>
                    <div class="sub">Nos encantará responder a tus dudas.</div>
                  </div>
                </a>
              </div>
              <div class="col-md-4 p10">
                <a href="{DIR}general_es/cotizador.html">
                  <div class="btnCotizar19A"> 
                    <div class="ico"> 
                      <img src="{DIR}img/icoCotiza.svg" class="svg"/>
                    </div>
                    <div class="tit">Cotiza</div>
                    <div class="sub">Con gusto te atenderemos.</div>
                  </div>
                </a>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">{SCRIPT}</script>
  <div class="p40 visible-md visible-lg"></div>
  <div class="container-fluid">
    <div class="row">
      <div id="ventanas" class="col-md-12">{VENTANAS}</div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="tituloAncho">
          <img src="{DIR}img/isotipo.png" alt="General isotipo"/>
          <span class="span1 fcGris">es</span>
          <span class="span2 fcGris">Todo</span>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{DIR}js/inicio.js"></script>