
#bp-group-documents .sorting {
	width: auto;
	float:right;
}
#bp-group-documents .spacer {
	height:20px;
}

.bp-group-documents-icon {
	width:auto;
	float:left;
	padding-top:1px;
	padding-right:3px;
}
